{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": true,
        "dynamicImport": true
      },
      "target": "es2021",
      "transform": {
        "decoratorMetadata": true
      },
      "keepClassNames": true
    },
    "module": {
      "type": "commonjs"
    },
    "sourceMaps": true,
    "outDir": "dist",
    "exclude": ["node_modules"]
  }
  